*{
    font-family: sans-serif;
}
body{
    background-color: #15202b !important;
}
section{
    display: flex;
    flex-direction: row;
    height: auto;
}
.column1{
    flex-basis: 25%;
    margin: 0px;
    padding: 0px;
    background-color: #15202b !important;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.column1 li .fa-home,
.column1 li .fa-user-lock,
.column1 li .fa-bookmark,
.column1 li .fa-user
{
    width:25%;
    color: white;
    font-size:30px;
}
.column1 li{
    width: auto;
    margin: 5px;
    color: white;
}
.column1 li label{
    text-align: left;
    width:70%;
    font-size:22px;
}
.column1 ul{
    list-style-type: none;
    font-weight: bold;   
}
.profile-design li{
    list-style: none;
}
.profile-design{
    width:96%;
    margin: auto;
    color:white;
    height:auto;
    background-color: #15202b !important;
    border:2px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile-design .username{
    color:grey;
}
.tweet-class label{
    display: flex;
    padding: 5px;
    font-size: 15px !important;
    width:100% !important;
    justify-content: center;
    align-items: center;
    
}
.tweet-class{
    font-size: 15px;
    width:70% !important;
    background-color:#1da1f2;
    border-radius: 20px;
}
.fa-twitter{
    margin-left:20px;
}
.column2{
    flex-basis: 50%;
    background-color: #15202b;
    overflow-y: scroll;
}
.column2-title{
    color: white;
    height:40px;
    background-color:#15202b;
    padding:10px;
    display: flex;
    align-items: center;
    
}
.column2-title h3{
    font-weight: bolder;
    font-size: 25px;
}
#id_content{
    margin-top: 3px;
    width:100%;
    margin-left: 0%;
    height:100px;
    outline-color:#1da1f2;
    outline: none;
    border-radius: 10px;
    padding:5px;
}
.tweet-home{
    margin:5px 0px;
    font-size: 15px;
    margin-left: 70%;
    width:20% !important;
    background-color:#1da1f2;
    border-radius: 20px;
}
.tweet-form{
    border-top:solid white 1px; ;
    border-bottom:solid white 1px; ;
}

.all-post{
    height:100px;
    width: 100%;
    background-color:blue !important;
}



.column2 img{
    width:50px;
    height:50px;
    border-radius: 50%;
}
.all-post-design{
    margin-top: 2px;
    border: 1px solid grey;
    width:100%;
    padding:10px;
}
.all-post-text{
   
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: auto;
}
.profile-img{
    flex-basis: 11%;
    justify-content: center;
    
}
.post-text{
    flex-basis: 90%;
}
.fullname{
    color: white;
    font-weight: bold;
    margin-right: 10px;
}
.username{
    color:grey;
}
.date{
    margin-left:10%;
    color: white;
    font-size: 11px;
}
.post-text .post-text-p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:white;
    margin-bottom: 0px !important;
}
#id_likes{
    display:none;
}
.column3{
    flex-basis: 25%;  
}
.fa-trash, .fa-edit{
    color: #fff !important;
}
.fa-trash :hover{
    color: #1da1f2  !important;
}
.fa-edit:hover{
    color: #1da1f2 !important;
}
.column3{
    flex-basis: 25%;
    background-color: #15202b !important;    
}
.people-to-follow hr{
    height:1px;
    background-color: white;
    
}
.people-to-follow h5{
    font-size: 15px;
    width:auto;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.cl3{
    text-decoration-line: underline;
    text-decoration-color: white;
    padding: 2px;
    margin-bottom:15px;
}
.tweet-actions{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.post-likes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.post-likes .no_likes{
    width:50px;
    background-color: red !important;
    height:50px;
    font-size: 28px !important;
}
.update-settings,.update-profile{
    
    color:white !important;
    text-decoration: none;
}
.user-profile-pic{
    width:50px;
    height:50px;
}
li a{
    text-decoration-line: none !important;
    text-decoration: none !important;
}
li a:hover{
    color:#1da1f2 !important;
}
.tweet-href{
    color:#fff !important;
}
.tweet-href:hover{
    color:#1da1f2 !important;
}
.tweet-label:hover{
    background-color: rgb(21, 172, 54);
    border-radius: 20px;
}